:root {
    --main-colour: #3b7080;
    --secondary-colour: #b3c2f2;
    --aditional-colour:#acc18a;
    --light-colour:#ffffff;
    --black-colour: #3a3335;
}
body {
    margin: 0;
    padding: 0;

}
.header {
    color: var(--main-colour);
    font-family: "Sitka Subheading", serif;
    font-size: 4.5em;
    margin: 0;
}

nav {
    text-align: center;

}
.loginNav {
    margin: 1%;
    border: none;
    color: var(--main-colour);
    font-size: 3em;
    background-color: var(--light-colour);
    font-family: "Sitka Subheading", serif;

}

input  {
    margin-left: 30%;
    border: none;
    border-bottom: var(--main-colour) 2px solid;
    background-color: var(--light-colour);
    font-family: "Sitka Subheading", serif;
    font-size: 2em;
    color:  var(--main-colour);
}
input:focus {
    outline: none;
}
label {
    color:  var(--main-colour);
    font-family: Gadugi, serif;
}

/*dashboard*/
.visit-component h3 {
    background-color: var(--main-colour);
    color: white;

}