@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');


:root{

    --mainColor: rgb(242, 247, 248);
    --secColor: #95BDDB;
    --trdColor: rgb(193, 225, 243);
    --addColor: #3b89b6;
    --fontColor: rgb(242, 249, 255);

    --fontFamilyFooter: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fontFamilyNavBar: Verdana, Geneva, Tahoma, sans-serif;
    --fontFamilyMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fontFamilyParallax: 'Dancing Script';
    --fontFamilyContainer: 'Baloo Bhaijaan 2';

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    background-color: var(--secColor);
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 100;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
}

.header span{
    margin-left: 50px;
    line-height: 25px;
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

body{
    background-color: var(--mainColor);
}

.login_bar{
    width: 100%;
    height: 70px;
    /* background-color: var(--mainColor); */
    position: absolute;
    z-index: 59;
}

.login_bar .login_button{
    width: 100px;
    height: 40px;
    background-color: var(--addColor);
    border: none;
    border-radius: 100px;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--fontColor);
    cursor: pointer;
    z-index: 59;

    font-size: 17px;
    font-family: var(--fontFamilyFooter);
}

.login_dropdown{
    background-color: var(--trdColor);
    height: 400px;
    width: 250px;
    position: absolute;
    right: 60px;
    top: 62px;
    z-index: 50;
    border-radius: 5px;
    display: none;
    cursor: default;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
}

.dropdown_box{
    height: 100%;
    width: 100%;
    background-color: var(--addColor);
    border-radius: 5px;
    position: relative;
}

.dropdown_content_logo_contener{
    width: 100%;
    height: 175px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: var(--trdColor);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_content_logo{
    width: 128px;
    height: 128px;
    background-color: var(--addColor);

    border-radius: 90px;
}

.dropdown_content{
    width: 100%;
    height: 225px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.dropdown_content span{
    font-size: 20px;
    font-family: var(--fontFamilyContainer);
    color: var(--fontColor);

    margin-top: 10px;
    margin-bottom: 30px;

    text-align: center;
}

.dropdown_content a{
    width: 80%;
    height: 35px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
    font-family: var(--fontFamilyMain);
    text-shadow: 0 0 3px rgb(0 0 0 / 20%);

    text-decoration: none;
    font-size: 17px;

    background-color: var(--secColor);
    box-shadow: 0px 0px 3px rgb(0 0 0 / 10%);
}

.box_main{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.box_main_content{
    width: 100%;
    height: 500px;
    background-size: 100%;
    background: var(--mainColor) url("mountain1.png") no-repeat fixed center right;
    background-size: cover;
    z-index: -100;
    animation: boxMainAnim 15s ease-out both;
}

.box_text{
    background-image: linear-gradient(90deg, var(--fontColor), white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;

    font-size: 100px;
    font-family: var(--fontFamilyParallax);
    
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    text-shadow: 0px 0px 10px rgb(255 255 255 / 10%);
    text-overflow: clip;
    text-align: center;
    z-index: 55;
    margin-bottom: 35px;
}


.main {
    margin-top: 75px;
    width: 100%;
    height: max-content;
    background-color: var(--mainColor);
    font-family: var(--fontFamilyMain);
    display: flex;
    flex-direction: column;
}

.main p{
    font-size: 50px;
    font-family: var(--fontFamilyMain);
    color: var(--addColor);
    text-shadow: 0 2px 3px rgb(0 0 0 / 20%);

    text-align: center;
    margin-bottom: 50px;
}

.wrap{
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.section{
    height: max-content;
    overflow: hidden;
}

.section_left, .section_right{
    float: left;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:20px;
    row-gap: 100px;
    padding: 2em 2em;
    position: relative;
}

.container_blank, .container{
    height: 300px;
    width: 100%;
}

.container{
    background-image: linear-gradient(var(--mainColor), var(--trdColor));
    border-radius: 3px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 10%);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_text, .container_text1{
    font-family: var(--fontFamilyContainer);
    color: var(--addColor);
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.container_text1{
    font-size: 60px;
}

.container img{
    height: auto;
    width: 100%;
}

.section_text_box{
    width: 100%;
}

.section_text{
    height: 150px;
    width: 100%;
    background-color: var(--mainColor);
    font-family: var(--fontFamilyMain);
    color: var(--addColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    margin-top: 100px; 
}

.section_in_section{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--secColor);

    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}


.team_photo_section{
    height: max-content;
    width: 90%;
    background-color: var(--secColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px 0;
}

.team_photo{
    height: 250px;
    width: 200px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--trdColor);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.team_photo img{
    position: absolute;
    background-size: cover;
    height: 100%;

    box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
}

.team_photo_gradient{
    position: absolute;

    height: 60%;
    width: 100%;
    margin-top: 115px;
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(40 40 40 / 80%));
}

.team_text, .team_text1{
    position: absolute;

    margin-top: 70%;

    font-size: 40px;
    font-family: var(--fontFamilyContainer);
    color: var(--fontColor);
}

.team_text1{
    margin-top: 100%;
    font-size: 20px;
}

.recom_grid{
    width: 100%;
    height: 500px;
    
    padding-left: 75px;
    padding-right: 75px;
    
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-rows: 2fr 2fr;
    gap: 8px;
}

.photo_box1{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.photo_box2{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.photo_box1 img, .photo_box2 img{
    background-size: cover;
    height: 100%;


    box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
    background-color: var(--mainColor);
}

.speech_box1, .speech_box2{
    background-color: var(--secColor);
    padding: 30px 40px;
    
    position: relative;

    border-top: solid 15px var(--addColor);

    box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
    
}

.speech_box1{
    grid-column: 2;
    grid-row: 1;

    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    margin-right: 50px;
}

.speech_box2{
    grid-column: 2;
    grid-row: 2;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    margin-left: 50px;
}

.speech_text, .speech_author{
    position: absolute;
    color: var(--fontColor);
    font-size: 25px;
}

.speech_text{
    margin-right: 40px;
    font-family: var(--fontFamilyContainer);
}

.speech_author{
    right: 40px;
    bottom: 40px;
    font-size: 40px;
}

.updates-body{
    width: 100%;
    height: max-content;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mainColor);
}

.updates{
    width: 70%;
    height: max-content;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;

    background-color: var(--mainColor);
}

.updates-block{
    background-color: var(--trdColor);
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    border-radius: 3px;

    height: max-content;
    max-height: 250px;
    width: 100%;
    padding: 25px 60px;
    

    display: flex;
    flex-direction: column;
}

.updates-title, .updates-date, .updates-content{
    font-size: 30px;
    color: var(--addColor);
    font-family: var(--fontFamilyMain);
    margin-bottom: 5px;

    text-decoration: none;
}

.updates-title:hover, .updates-date:hover, .updates-content:hover{
    text-decoration: underline;
}

.updates-date{
    font-size: 20px;
    margin-bottom: 15px;
}

.updates-content{
    font-size: 15px;
    max-height: max-content;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.pricebox-wrap{
    width: 100%;
    height: max-content;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--mainColor);
}

.pricebox-name{
    height: 50px;
    width: 80%;

    display: flex;
    align-items: center;

    margin-top: 40px;

    background-color: var(--addColor);
}

.pricebox-name span{
    color: var(--fontColor);

    font-size: 30px;
    margin-left: 50px;
}

.pricebox-offer{
    height: 75px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    align-items: center;

    
    background-color: var(--mainColor);
    border-bottom: solid 2px var(--trdColor);
}

.pricebox-offer-name, .pricebox-offer-cost{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-family: var(--fontFamilyFooter);
    color: var(--addColor);
}

.pricebox-offer-name{
    width: 75%;
    float: left;

    border-right: solid 2px var(--trdColor);
}

.pricebox-offer-cost{
    float: right;
    width: 25%;
}

.about-title{
    font-size: 30px;
    font-family: var(--fontFamilyMain);
    color: var(--addColor);
    text-shadow: 0 2px 3px rgb(0 0 0 / 20%);

    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-wrap{
    width: 100%;
    height: max-content;

    overflow: hidden;
    display: flex;
    align-items: center;

    background-color: var(--mainColor);
}

.about-wrap-section{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 50px;

    padding: 50px;
}

.about-wrap-25{
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--mainColor);
}

.about-wrap-photo{
    background-size: cover;
    background-color: var(--secColor);
    
    border-radius: 360px;
    height: 100%;
    border: solid 2px var(--addColor);
}

.about-wrap-75{
    height: 100%;
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrap-text{
    width: 100%;
    font-size: 30px;
    color: black;
    text-align: center;

    border-bottom: solid 5px var(--addColor);
}

.contact_section{
    height: max-content;
    overflow: hidden;
}

.contact_info{
    margin: 50px 0px;

    height: max-content;
    overflow: hidden;

    display: flex;
    justify-content: center;
    gap: 100px;
}

.contact_info_box{
    width: 35%;
    height: 300px;

    padding: 40px;

    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    background-color: var(--trdColor);
}

.contact_info_box p {
    font-size: 35px;
}

.contact_info_box span {
    font-size: 20px;
    margin-top: 15px;

    float: left;
}

.login_wrap{
    height: max-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--mainColor);
}

.login_block{
    width: max-content;
    height: max-content;

    background-color: var(--trdColor);
    padding: 20px 20px;
}

.login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register_wrap{
    height: max-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--mainColor);
}

.register_block{
    width: max-content;
    height: max-content;

    background-color: var(--trdColor);
    padding: 20px 20px;
}

.register_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AdminPanel {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.AdminPanelContent {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: black solid 2px;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secColor);
    z-index: 99;
    height: 55px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

.navbar .nav_bttn, .home_bttn{
    font-family: var(--fontFamilyNavBar);
    font-size: 14px;
    color: var(--fontColor);
    background-color: var(--addColor);
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    display: grid;
    place-items: center;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    z-index: 80;
}

.navbar .nav_bttn:hover, .navbar .home:hover{
    transform: scale(1.15);
    border-radius: 10px;
}

.navbar .home{
    width: 40px;
    transition: 0.2s;
    z-index: 80;
}

.navbar .home_bttn{
    background-image: url("Home_Icon.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    z-index: 100;
    width: 40px;
    display: flex;
    background-position: center;
    margin: 0;
}


footer {
    width: 100%;
    height: 15em;
    background-color: var(--addColor);
    color: var(--fontColor);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
}

footer .footer_div{
    height: 125px;
    width: 200px;
    background-color: var(--addColor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_url_box{
    margin: 2px;
    background-color: var(--addColor);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.footer_url{
    text-decoration: none;
    color: var(--fontColor);
    text-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    font-size: larger;
    font-family: var(--fontFamilyFooter);
}

footer .footer_logo{
    background-image: url("logo_square_120px.png");
    height: 100px;
    width: 100px;
    background-size: contain;
}

.show{ 
    display: block;
    animation: showup 0.3s ease; 
}

@keyframes lmao{
    0%{
        transform: rotate(-5deg);

    }
    50%{
        transform: rotate(5deg);

    }
    100%{
        transform: rotate(-5deg);

    }
}

@keyframes showup{
    0%{
        transform:scaleY(.05);
        transform-origin:100% 0
    }
    100%{
        transform:scaleY(1);
        transform-origin:100% 0
    }
}


@keyframes boxMainAnim {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 84%;
    }
    100% {
        transform: scale(1.15) translateY(15px);
        transform-origin: bottom;
    }
}



