:root{
    --varColor: rgb(190, 56, 56);
    --varColor1: rgb(64, 64, 207);
}

body{
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
}

#blockID{
    height: 250px;
    width: 250px;
}

#inputID, #inputID1{
    

    height: 100px;
    width: 250px;
}