:root{
    --mainColor: rgb(242, 247, 248);
    --secColor: rgb(51, 202, 202);
    --addColor: rgb(18, 167, 167);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    background-color: var(--secColor);
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 30px;
}

.header span{
    margin-left: 50px;
    line-height: 30px;
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

.main {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
}

.box1 {
    width: 100%;
    /* height: 300px; */
    background-image: url("logo_transparent.png")
}

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    
}

.navbar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: black;
    border-radius: 25px;
    border: 5px solid var(--addColor);
    width: 120px;
    height: 40px;
    margin: 10px 20px;
    display: grid;
    place-items: center;
    text-decoration: none;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.navbar a:hover{
    transform: scale(1.15);
}


.navbar div:hover{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;   
    background: var(--secColor);
    position: absolute;
    z-index: 0;
}


footer {
    width: 100%;
    height: 10%;
    align-self: bottom;
    background-color: var(--secColor)
}


  