* {
    box-sizing: border-box;
    background-color: rgb(56, 141, 141);
    margin: 0;
    padding: 0;
}

li, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/* background-color: rgb(56, 141, 141); */